<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
<h2>Tambah Data</h2><br>

<form action="/samsat/add" method="post" name="form1">
  <div class="form-group ">
        <label>NOPOL</label>
        <input class="form-control" type="text" name="nopol" id="nopol" value="<%= nopol %>" />
  </div>
  <div class="form-group ">
        <label>Nama</label>
        <input class="form-control" type="text" name="nama" id="nama" value="<%= nama %>" />
  </div>
  <div class="form-group ">
        <label>Alamat</label>
        <input class="form-control" type="text" name="alamat" id="alamat" value="<%= alamat %>" />
  </div>
  <div class="form-group ">
        <label>Phone</label>
        <input class="form-control" type="text" name="phone" id="phone" value="<%= phone %>" />
  </div>
  <input type="submit" name="Submit" value="Add" />
</form>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
